.box-wrapper-row {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgrey;
}

.box-degree {
    border: 1px solid black;
    width: 200px;
    background-color: indianred;
    padding: 15px;
    text-align: center;
}

li,a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 50px 10%;
    background-color: lightblue;


}

.logo{
    cursor: pointer;
    margin-right: auto;

}

.nav{
    list-style: none;
    margin-top: 100px;
    margin-left: 20px;

}

.nav li{
    display: inline-block;
    padding: 20px 70px;
}

.nav li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
    font-size: x-large;
    border: 2px solid #0088a9;
    padding: 5px 15px;
}

.nav li a:hover{
    color: #000;
    background-color: #ffffff;

}
button{
    margin-left: 20px;
    margin-top: 25px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; ;
}

button:hover{
    background-color: rgba(0,136,169,0.8 );

}

